

/* HEADER */

header img {
    margin-top: -20px;
    margin-left: 5px;
    width: 200px;
    height: 150px;
    z-index: 1;
}

footer {
    border-top: solid black 1px;
}
@media (max-width: 767px) {
    .nav {
        margin-top: -100px;
    }
}