{% extends "LouvreLouvreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Commander{% endblock %}

{% block body %}
    <h2>Commande de billets</h2>
    <div id="containerhome">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales aliquam nunc, vitae sollicitudin felis tempus efficitur. Quisque tortor ante, tempor ullamcorper rhoncus accumsan, faucibus mollis quam. Vivamus sed sodales arcu. Mauris volutpat dui a ligula auctor, a facilisis ipsum efficitur. Nullam congue diam sed gravida maximus. Duis viverra tempor orci in mattis. Nulla porttitor blandit lobortis. Vivamus urna tortor, mollis ut ligula quis, laoreet placerat lacus.

            Maecenas blandit nibh mi, quis hendrerit mauris dictum sit amet. Proin sed nibh faucibus, dictum neque in, pulvinar lectus. Ut ipsum libero, auctor eu ipsum sit amet, lacinia congue felis. Donec a venenatis arcu. Pellentesque eget tristique orci. Fusce congue eu sem nec consequat. Nam vitae mi sit amet diam tempor aliquam et in ligula. Integer dapibus ligula ante, id auctor quam vestibulum sit amet.

            Aliquam ornare ante odio, at mattis turpis ornare eu. Donec vitae eros arcu. Proin feugiat molestie nibh, in elementum est convallis et. Proin in nibh non felis imperdiet interdum vel ut magna. Praesent tempus vestibulum orci id volutpat. Maecenas eu velit mauris. Aenean suscipit leo ut ex scelerisque, eu tempor mi pharetra. Donec id mauris sodales, tempus dolor nec, sollicitudin turpis. Praesent eu erat non augue venenatis molestie et quis ex.

            Suspendisse non turpis non magna tempor varius a quis enim. Maecenas ut nulla vulputate dui fermentum scelerisque. Aenean sit amet tincidunt diam. Sed ullamcorper, libero ut euismod molestie, sem urna posuere libero, nec tempor turpis tellus vitae nisl. Nullam et ante libero. Donec eget eros placerat felis scelerisque viverra eget non massa. Suspendisse eu lacus augue. Nullam erat nulla, tempus quis ligula in, dictum eleifend ipsum. Cras mattis quis diam id gravida. Maecenas ac augue nec libero consectetur venenatis a vitae tortor.

            Cras quis libero vel lacus ultrices pulvinar. Nunc bibendum tellus nec dignissim blandit. Ut non mauris a dui lacinia luctus non at lacus. Mauris nunc orci, sollicitudin vel elementum vel, lacinia eget orci. Maecenas vel condimentum augue. Aenean at pellentesque sapien. Curabitur posuere nibh massa, sit amet dapibus purus imperdiet at. Aliquam mattis imperdiet libero. Nunc luctus at lorem eget </p>
    </div>

{% endblock %}