{% extends "LouvreLouvreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Payer{% endblock %}

{% block body %}
    <h2>Paiment de la commande</h2>
    <div id="containerhome">
        {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('info') %}
            <p>{{ message }}</p>

        {% endfor %}


    </div>



{% endblock %}